# Configuration TimescaleDB/PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=aquawatch
DB_USER=postgres
DB_PASSWORD=postgres

# Configuration MQTT
MQTT_HOST=localhost
MQTT_PORT=1883

# Configuration API
API_PORT=3000


